<h1>Learn NG Template</h1>
<div *ngTemplateOutlet="myTemplate">
</div>
<ng-template #myTemplate>
  <h1>This is a NG Template</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus tempora nam porro. Deserunt amet accusamus natus earum quis? Voluptates, ipsa? Rem, ullam a sit inventore est qui temporibus debitis quo!
  </p>
</ng-template>
<ng-template #toggleTemplate>
  <h1>NG Template ON</h1>
</ng-template>

<div *ngIf="!toggle else toggleTemplate">
  <h1>NG Template OFF</h1>
</div>

<button (click)="ToggleFun()" >Show Template</button>

